.layout{
  width: 100%;
  margin: auto;
  background-color: #EBF5FB;
}

/* loader */
.spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: #F5EEF8 ;
  }

/*-----navbar--------*/
.logo{
  display: flex;
  align-items: center;
  font-size: large;
}

.logo a {
  margin-right: 10px; /* Add some spacing between the h6 and img */
  font-size: 18px;
  margin-top: 5px;
  color: #EBF5FB;
  text-decoration: none;
}

.logo img{
  height: 70px;
  width: 70px;

}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A5276;
  height: 20%;
  padding-top: 50px;
  padding-bottom: 30px;
}

.navlinks a {
  text-decoration: none;
  color: #EBF5FB;
}

.active a{
  background-color: rgba(41, 128, 185, 0.9);
  padding: 10px;
  text-decoration: none;
  color: #EBF5FB;
  border-radius: 2px;

}

/*-----header--------*/

header {
  background-color: #D6EAF8;
  padding-top: 40px;
  padding-bottom: 80px;
}

.header section {
color: #1A5276;
padding: 10px 13%;
position: relative;
}

.banner h2{
  font-size: 40px;
  font-weight: bold;
  color: #1F618D; /* Example color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Example text shadow for a stylish effect */
  margin-top: 10px;
  margin-bottom: 25px;
}

.banner h3{
  font-size: 30px;
  color: #1F618D; /* Example color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Example text shadow for a stylish effect */
  margin-top: 10px;
  margin-bottom: 80px;
}


.appointment-button {
  background-color: #1A5276;
  color: #FDFEFE;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.banner-img{
  position: absolute;
  right: 13%;
  top: -17%; /* Adjust this value to move it upwards */
  width: 600px;
  overflow: hidden;
  margin-top: 5px;

}

.banner-img img {
  width: 100%;
  height: 380px;
  border-radius: 20px;
  /* Add transparent background to corners using a linear gradient */
  mask-image: linear-gradient(to top right, transparent -90%, black 100%);
}

/*-----information--------*/

.info-container{
  background-color: #D6EAF8;
  padding-top: 60px;
  padding-bottom: 10px;
  padding: 10px 13%;
  text-align: center;
}

.info-col{
  padding: 5px;
}

.info-card{
  background-color: rgba(26, 82, 118, 0.9);;
}

.card-text{
  font-size: 15px;
  color: #EBF5FB; /* Example color */
}

.card-image img{
  height: 150px;

}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo h6 {
    margin-bottom: 10px;
  }

  .navlinks {
    margin-top: 10px;
  }
}

