/*
  Filename: index.css
  Description: Main stylesheet for the React project.
  Author: Imamul Ahsan
*/

/* ==============================
   LAYOUT
   ============================== */
.layout{
  width: 100%;
  margin: auto;
  background-color: #FFF;
}

/* ==============================
   SPINNER
   ============================== */
.spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: #F5EEF8 ;
  }

/* ==============================
   NAVBAR
   ============================== */
.logo{
  display: flex;
  align-items: center;
  font-size: large;
}

.logo a {
  margin-right: 10px; /* Add some spacing between the h6 and img */
  font-size: 18px;
  margin-top: 5px;
  color: #EBF5FB;
  text-decoration: none;
}

.logo img{
  height: 70px;
  width: 70px;

}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A5276;
  height: 20%;
  padding-top: 50px;
  padding-bottom: 30px;
}

.navlinks a {
  text-decoration: none;
  color: #EBF5FB;
}

.active a{
  background-color: rgba(41, 128, 185, 0.9);
  padding: 10px;
  text-decoration: none;
  color: #EBF5FB;
  border-radius: 2px;

}

/* ==============================
   HEADER (HOME PAGE)
   ============================== */

header {
  background-color: #FFF;
  padding-top: 40px;
  padding-bottom: 80px;
}

.header section {
color: #1A5276;
padding: 10px 13%;
position: relative;
}

.banner-title{
  background: linear-gradient(to bottom, rgba(26, 82, 118, 0.9), rgba(6, 6, 6, 0.8));
  width: 45%;
}

.banner-title h2{
  font-size: 40px;
  font-weight: bold;
  color: #d8dee2; /* Example color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Example text shadow for a stylish effect */
  margin-top: 10px;
  margin-bottom: 25px;
}

.banner h3{
  font-size: 30px;
  color: #1F618D; /* Example color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Example text shadow for a stylish effect */
  margin-top: 10px;
  margin-bottom: 80px;
}


.appointment-button {
  background-color: #1A5276;
  color: #FDFEFE;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.banner-img{
  position: absolute;
  right: 13%;
  top: -10%; /* Adjust this value to move it upwards */
  width: 600px;
  overflow: hidden;
  margin-top: 5px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);

}

.banner-img img {
  width: 100%;
  height: 380px;
  border-radius: 20px;
  /* Add transparent background to corners using a linear gradient */
  mask-image: linear-gradient(to top right, transparent -90%, black 100%);
}

/* ==============================
   INFORMATION COMPONENT (HOME PAGE)
   ============================== */

.info-container{
  background-color: #FFF;
  padding-top: 60px;
  padding-bottom: 10px;
  padding: 10px 13%;
  text-align: center;
}

.info-col{
  padding: 25px;
}

.info-card{
  background: linear-gradient(to bottom, rgba(26, 82, 118, 0.9), rgba(212, 230, 241 , 0)); /* You can customize the colors and stops */
  margin: 10px;
  box-shadow: 0 4px 8px #4A235A; /* Add box shadow for a subtle effect */
}
.info-card:hover {
  transform: translateY(-5px); /* Move the card up on hover */
  background: linear-gradient(to bottom, rgba(3, 59, 17, 0.9), rgba(212, 230, 241 , 0)); /* You can customize the colors and stops */
}


.card-text h3{
  font-size: 25px;
  font-weight: bold;
  color: #EBF5FB; /* Example color */
}


.card-text p{
  font-size: 15px;
  color: #EBF5FB;
}

.card-image img{
  height: 150px;

}



/* ==============================
   SERVICES COMPONENT (HOME PAGE)
   ============================== */
.services-header{
  padding: 10px 13%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.services-header h2{
  font-weight: bold;
  margin: 0; /* Remove default margin to center vertically */
}

.services-container{
  padding: 10px 13%;
  background-color: #FFF;
}

.services-container img{
  height: 100px;
  width: 100px;
}

.centered-column{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.centered-content{
  text-align: center;
}

.centered-content p{
  font-size: large;
  font-weight: bold;
}

/* ==============================
   CURRENT NEWS COMPONENT (HOME PAGE)
   ============================== */
.currentnews-header{
    padding: 10px 13%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
  }

.currentnews-header h2{
  font-weight: bold;
  margin: 0; /* Remove default margin to center vertically */
}

.currentnews-container{
  padding: 10px 13%;
  background-color: #FFF;
}

.currentnews-card {
  border: 5px solid transparent; /* Set the border color to transparent initially */
  background-color: #D4E6F1;
  border-image: linear-gradient(to right, #0c1572, #1791e2); /* Define linear gradient for the border */
  border-image-slice: 1; /* Ensure the entire border is covered by the gradient */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition for the move-up effect */
}

.currentnews-card:hover {
  transform: translateY(-10px); /* Move the card up on hover */
}



/* ==============================
   TEAM COMPONENT (LINKED PAGE)
   ============================== */
.team-col{
  padding: 30px;
}

.team-header{
  padding: 10px 13%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.team-header h2{
  font-size: 60px;
  font-weight: 600;
  color: transparent;
  background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  background-position: -200%;
  animation: animated-gradient 2s infinite alternate-reverse;
  margin: 0;
}
@keyframes animated-gradient{
  to{
    background-position: 200%;
  }
}

/* Add these styles to your CSS file or component's style block */
.team-description {
  padding: 20px;
  text-align: center;
  background: linear-gradient(to right, #AED6F1, #EAF2F8, #AED6F1 ); /* Set linear gradient */ /* Set background color */
  border-bottom: 1px solid #e8e8e8; /* Add a border at the bottom */
}

.team-description p {
  margin: 0 0 10px; /* Adjust margin for better spacing */
  font-size: 16px; /* Set font size */
}

.team-description p:last-child {
  margin-bottom: 0; /* Remove bottom margin for the last paragraph */
  font-style: italic; /* Italicize the last paragraph */
}

.team-container{
  padding: 10px 13%;
  background-color: #FFF;
}


.team-card{
  border: 5px solid transparent; /* Set the border color to transparent initially */
  background-color: #1F618D;
  border-image: linear-gradient(to right, #d0d1e4, #a9f0f0); /* Define linear gradient for the border */
  border-image-slice: 1; /* Ensure the entire border is covered by the gradient */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition for the move-up effect */
}
.team-card:hover {
  transform: translateY(-10px); /* Move the card up on hover */
  background-color: #138D75;
}

.team-card h2{
  color: #e8e8e8;
  font-weight: bold;
  font-size: 25px;
}
.team-card h3{
  color: #e8e8e8;
  font-size: 20px;
}

.team-card p{
  color: #e8e8e8;
}

/* ==============================
   OVERALL SERVICES COMPONENT (LINKED PAGE)
   ============================== */
   .overall-services-header{
    padding: 10px 13%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .overall-services-header h2{
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 2s infinite alternate-reverse;
    margin: 0;
  }
  @keyframes animated-gradient{
    to{
      background-position: 200%;
    }
  }


  .overall-services-description {
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right, #AED6F1, #EAF2F8, #AED6F1 ); /* Set linear gradient */ /* Set background color */
    border-bottom: 1px solid #e8e8e8; /* Add a border at the bottom */
  }

  .overall-services-description p {
    margin: 0 0 10px; /* Adjust margin for better spacing */
    font-size: 16px; /* Set font size */
  }

  .overall-services-description p:last-child {
    margin-bottom: 0px; /* Remove bottom margin for the last paragraph */
    font-style: italic; /* Italicize the last paragraph */
  }

  /* ==============================
   OVERALL SERVICES COMPONENT (LINKED PAGE)
   ============================== */

   .contact-header {
    text-align: center;
    margin-top: 20px;
  }

  .contact-description {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }

  .contact-form form{
  display: flex;
  flex-direction: column;
  }

  .contact-form label{
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: bold;
  }

  .contact-form input,
  textarea {
    padding: 8px;
    margin-bottom: 16px;
    background: #FEF9E7;
  }

  .contact-form button {
  background-color: #1A5276;
  color: #FDFEFE;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  }

    /* ==============================
   USERS COMPONENT (LINKED PAGE)
   ============================== */
.user-description{
  padding: 0 13%;

}

.appointment-form{
  padding: 10px 30% 10px 30%;
  background-color: #EAF2F8 ;
}



@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo h6 {
    margin-bottom: 10px;
  }

  .navlinks {
    margin-top: 10px;
  }
}

